:root {
  --dark: #202020;
  --light-dark: #555555;
  --gray: #7b7b7b;
  --light-blue: #DFF3F9;
  --xl: 1400px;
  --l: 900px;
  --m: 640px;
  --s: 400px;
  --xs: 320px;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  min-height: 100vh;
  color: var(--dark);
}

a {
  transition: all 400ms ease;
  text-decoration: none;
  color: var(--dark);
  fill: var(--dark);
}
a:hover {
  color: var(--light-dark);
  fill: var(--light-dark);
} 
a:active {
  color: var(--gray);
  fill: var(--gray);
}

h1 {
  color: var(--dark);
}

.container {
  position: relative;
  width: 100%;
  max-width: var(--xl);
  margin: 0 auto;
  padding: 0 20px;
}

.normal-weight {
  font-weight: 400;
}
.anim-point {
  cursor: pointer;
  transition: all 400ms ease;
}
.anim-point:hover {
  color: var(--light-dark);
}

.arrow {
  position: fixed;
  bottom: 5vh;
  right: 3vw;
  z-index: 10;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: var(--light-blue);
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow svg {
  height: 42px;
}

/* HEADER */
header {
  background-color: var(--light-blue);
  position: fixed;
  padding: 12px 0;
  width: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
  z-index: 5;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  font-size: 1.2em;
  display: flex;
  gap: 1.2em;
}

nav > a:hover {
  color: #1569d7;
}
nav > a:active {
  color: #5299f6;
}

.main-content {
  display: flex;
}

/* ASIDE */
aside {
  padding-top: 5em;
  padding-bottom: 4em;
  width: 30vw;
  height: 100vh;
  padding: 5em 2em 4em;
  position: fixed;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

aside > img {
  margin: 0.5em 0 1em;
  border-radius: 50%;
  width: 80%;
}
aside > div {
  line-height: 2em;
}
aside ul {
  line-height: 1.8em;
}
aside ul li {
  margin-left: 1.5em;
  list-style-type: none;
}

/* MAIN */
main {
  margin-left: 30vw;
  width: 70vw;
  padding-top: 150em;
  background-color: #202020;
  /* height: 100px; */
}


/* FOOTER */
footer .rsschool {
  width: 96px;
}
footer .github {
  width: 20px;
  text-align: center;
  vertical-align: text-top;
}
footer a:hover .github {
  animation: rotate 0.8s ease-in-out;
}
footer {
  position: relative;
  z-index: 5;
  background-color: var(--light-blue);
  color: var(--dark);
  font-size: 18px;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
}
footer > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4em; 
}